<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>maib</name>
    <displayName><![CDATA[Maib Payment Gateway Module]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept Visa / Mastercard / Apple Pay / Google Pay on your store with the Maib Payment Gateway Module]]></description>
    <author><![CDATA[BC Maib SA]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>